<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Favorite 'em</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <form  #form="ngForm" (ngSubmit)="favorite(form)">
        <ion-item>
            <ion-input  name="pokename" type="text" placeholder="name:" ngModel required clearInput></ion-input>
          </ion-item>
          <ion-item>
              <ion-input  name="userId" type="number" placeholder="userID:" ngModel required clearInput></ion-input>
            </ion-item>
          <div padding>
              <ion-button  size="large" type="submit" expand="block">Favorite</ion-button>
            </div>
    </form>
</ion-content>
