<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Get 'em</ion-title>
    </ion-toolbar>

  </ion-header>
  
  <ion-content>
      <form  #form="ngForm" (ngSubmit)="catch(form)">
          <ion-item>
              <ion-input  name="pokename" type="text" placeholder="Gotta catch 'em types:" ngModel required clearInput></ion-input>
            </ion-item>
            <div class="checkbtn">
                <ion-label item-left>Get all info</ion-label>
                <ion-checkbox class="check" name="catchAll" slot="start" (ionChange)="optionChanged()"></ion-checkbox>
            </div>
            <div padding>
                <ion-button  size="large" type="submit" expand="block">Catch</ion-button>
              </div>
      </form>
      <ion-list lines="none">
        <ion-item class="poketitle">
            <ion-input [(ngModel)]="pokename" [readonly]=true slot=start></ion-input>
        </ion-item>
        <ion-item *ngIf="totalPokeFavs != undefined">
            <p>Favorited: {{totalPokeFavs}}</p>
          </ion-item>
        <ion-item>
          <ion-buttons slot="start" *ngFor="let t of pokeTypes">
              <ion-button ion-button small  color="white" 
              [ngStyle]="{'background-color':t.color}">
                  {{t.name}}
                </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
  
 
  